<!DOCTYPE html>
<html>
<head>
<title>Facebook Login JavaScript Example</title>
<meta charset="UTF-8">
</head>
<body>
<script type=text/javascript src="{{url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
<script type="text/javascript">

  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);

    if (response.status === 'connected')
     {      
      incializar();
    } 
    else if (response.status === 'not_authorized')
    {     
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else 
    {     
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '400417863497411',
      cookie     : true,  // enable cookies to allow the server to access 
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.8' // use graph api version 2.8
    });

   
    FB.getLoginStatus(function(response) 
    {
      statusChangeCallback(response);
    });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  var resultLogar = []
  function incializar() 
  {
    
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);     
      $.ajax({
        url: "/logar/"+ response.id,
        success: function(result)
        {        
        resultLogar = JSON.parse(result);
        primeiroLogin(resultLogar[0]);
      }});      
     
    });
  }


  function primeiroLogin(user_id)
  {
    $.ajax({
        url: "/tops/",
        success: function(result)
        { 
          bandas = JSON.parse(result);       
          $("#primeiroLogin").html(result);
      }}); 
  }
</script>


<div class="logar">
  <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
  </fb:login-button>
</div>


<div id="primeiroLogin">


</div>

</body>
</html>