<!DOCTYPE html>
<html>
<head>
<title>Facebook Login JavaScript Example</title>
<meta charset="UTF-8">
</head>
<body>
<script type=text/javascript src="{{url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
<script type="text/javascript">

  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);

    if (response.status === 'connected')
     {      
      incializar();
    } 
    else if (response.status === 'not_authorized')
    {     
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else 
    {     
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '400417863497411',
      cookie     : true,  // enable cookies to allow the server to access 
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.8' // use graph api version 2.8
    });

   
    FB.getLoginStatus(function(response) 
    {
      statusChangeCallback(response);
    });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  var resultLogar = []
  function incializar() 
  {
    
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);     
      $.ajax({
        url: "/logar/"+ response.id,
        success: function(result)
        {        
        resultLogar = JSON.parse(result);
        
        // Se o for a primeira vez a logar, iniciar a tela em que ele escolhe bandas favoritas.
        if(resultLogar[1] == true)
        {
          primeiroLogin(resultLogar[0]);
        }
        else
        {
          //recomendar(resultLogar[0]); Usar quando a tela do primeiro Login estiver Funcionando.
          recomendar(1);
        }
      }});      
     
    });
  }

  function primeiroLogin(user_id)
  {
    $.ajax({
        url: "/tops/",
        success: function(result)
        { 
          bandas = JSON.parse(result);       
          $("#primeiroLogin").html(result);
      }}); 
  }

var bandasSpotify = [];
var bandas = [];
  function recomendar(user_id)
  {
    var stringBusca = "";
    $.ajax({
        url: "/top/"+user_id,
        success: function(result)
        { 
          bandas = JSON.parse(result);
          
          for(x = 0 ;x<bandas.length;x++)
          {
                $.ajax({
                  url: "https://api.spotify.com/v1/search?q=artist%3A"+bandas[x].replace(" ","+")+"&type=track&limit=1",
                  success: function(result)
                  {
                    if(stringBusca == "")
                    {
                      stringBusca = result.tracks.items[0].id;
                    } 
                    else
                    {
                      stringBusca = stringBusca + "," + result.tracks.items[0].id
                    }                           
                    $("#primeiroLogin").html(stringBusca);
                }});    
          }
          alert(stringBusca);      
           $("#telaRecomendar").html('<iframe src="https://embed.spotify.com/?uri=spotify:trackset:PREFEREDTITLE:'+stringBusca+'" theme="white" width="600" height="680" frameborder="0" allowtransparency="true"></iframe>');
          }}
      ); 
  }
</script>


<div class="logar">
  <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
  </fb:login-button>
</div>


<div id="primeiroLogin">


</div>

<div id="telaRecomendar">


</div>

</body>
</html>